<!DOCTYPE html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>

    <link rel="stylesheet" href=" /assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href=" /assets/vendors/css/vendor.bundle.base.css">
   
    <link rel="stylesheet" href=" /assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href=" /assets/images/favicon.ico" />
  </head>
  <body>
   
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%-include('partials/navbar.ejs')-%>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%-include('partials/sidebar.ejs')-%>

        <!-- partial -->
      
        <div class="main-panel ">
            
          <div class="content-wrapper ">
           
           
            <div class="row justify-content-center">
                
              <div class="col-md-6 grid-margin stretch-card ">
                <div class="card">
                  <div class="card-body">
                 
                   
                    <h4 class="card-title">Add new banner</h4>
                  
                    <form class="forms-sample" >
                    
                      
                      <div class="form-group row">
                        <label for="off" class="col-sm-3 col-form-label">offer:</label>
                        <div class="col-sm-9">
                          <input type="number" value="2342" class="form-control" id="off" placeholder="amount">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="description" class="col-sm-3 col-form-label">description:</label>
                        <div class="col-sm-9">
                          <input type="text" value="bakjcbkajc dc"class="form-control" id="description" placeholder="Mobile number">
                        </div>
                      </div>
                    
                      <div class="form-group row">
                        <label for="img" class="col-sm-3 col-form-label">Image url:</label>
                        <div class="col-sm-9">
                          <input type="text" value="bakjcbkajc dc" class="form-control" id="img" placeholder="image url">
                        </div>
                      </div>
                      
                      
                      <button type="submit" class="btn btn-gradient-primary me-2">Update</button>
                      <button type="reset" class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
             
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src=" /assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src=" /assets/js/off-canvas.js"></script>
    <script src=" /assets/js/hoverable-collapse.js"></script>
    <script src=" /assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src=" /assets/js/file-upload.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>